
#main-content {
  box-sizing: border-box;
  display: flex;
  gap: 1vw;          /* internal spacing between children */
  height: 77vh;
  padding: 1vw;
  width: 100%;
}

body {
  background-color: rgb(243, 243, 243);
}

.content-container {
  height: 100%;
}

/* Table */

#table-container {
  display: flex;
  gap: 1vw;
  width: 50%;
}

.table-half {
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.3;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1vw;
  width: 50%;
}

.table-half h2 {
  cursor: pointer;
  margin: 1vh auto 0 auto;
  text-align: center;
}

.table-half p {
  cursor: pointer;
  margin: 5px;
}

/* Chart */

#chart-container {
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#download-button-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 15%;
  justify-content: space-between;
  padding: 1vh 3vw;
  width: 100%;
}

#download-button-container button {
  border-radius: 5px;
  padding: 5px;
}

#download-button-container button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#data-chart {
  box-sizing: border-box;
  height: 85%;
  min-height: 85%;
  padding: 5%;
  width: 100%; 
}

/* Year Select Slider */

.slider-thumb {
  background-color: navy;
  border-radius: 2vh;
  bottom: 4vh;
  height: 4vh;
  position: fixed;
  width: 4vh;
  z-index: 2;
}

.slider-thumb:hover {
  cursor: grab;
}

#slider-thumb-left{
  left: 4vw
}

#slider-thumb-right{
  left: 94vw
}

#slider-years {
  bottom: 1vh;
  font-size: 1.2rem;
  left: 50vw;
  position: fixed;
  transform: translateX(-50%);
}

#update-chart {
  display:none;
  position: fixed;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 999;
}

#slider-track-background {
  background-color: gray;
  border-radius: 1vh;
  bottom: 5vh;
  display: flex;
  height: 2vh;
  left: 5vw;
  position: fixed;
  width: 90vw;
}

#slider-track {
  background-color: navy;
  border-radius: 1vh;
  bottom: 5vh;
  display: flex;
  height: 2vh;
  left: 5vw;
  position: fixed;
  width: 90vw;
}




/* Remove default margins for headers and paragraphs */
.table-half :is(h1, h2, h3, h4, h5, h6) {
  cursor: pointer;
  font-weight: normal;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0;
}

/* Indentation for hierarchical headers */
.table-half h2 {
  font-weight: bold;
  padding-bottom: 1em;
}

.table-half h3 {
  font-weight: bold;
  padding-left: 1em;
}

.table-half h4 {
  padding-left: 2em;
}

.table-half h5 {
  padding-left: 3em;
}

.table-half h6 {
  padding-left: 4em;
}
.table-half p {
  padding-left: 5em;
}

/* Paragraph inde*
