/* Font-size & typeface */
* {  
    font-family: 'Montserrat', sans-serif;
    font-size: max(1vw, 10px);
} 

/* HEADER */
header {
    align-items: center;
    background-color: #01154f;
    color: white; 
    display: flex;
    height: 13vh;
    justify-content: space-between;
    margin: 0px;
    min-width: 1000px;
    text-align: left;
}

    #header-left {
        align-items: center;
        display: flex;
    }

    /* Title */

    header h1 { 
        padding-left: 2vw;
    }
    header h1 a { 
        color: white;
        font-size: 2rem;
        text-decoration: none;
    }



    /* Author */
    header a, footer a { 
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }

    header a:hover, header h1 a:hover, footer a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    #hhei-image {
        padding: 0 1vw 0 1vw;
    }

body { 
    margin: 0px 
}

/* NOTEBOOK PAGES */
#notebook { 
    height: 80vh;
    min-width: 1000px;
    transition: 0.3s ease;
    width: 100%;
}

#notebook.blurred {
    filter: blur(1px);
}

#toc {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    height: 87vh;
    left: 0;
    position: absolute;
    top: 13vh;
    transition: 0.3s ease;
    width: 20vw;
    z-index: 3;
}
#toc.hidden {
    transform: translateX(-20vw);
}
.toc-entry {
    background-color: transparent;
    border: none;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-align: left;
}
#toc h2 {
    font-size: 1.5rem;
    text-align: center;
}

/* Toggle TOC Display */
#toc-toggle {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    font-size: 2.5rem;
    height: fit-content;
    justify-content: center;
    top: 0px;
    transition: 0.3s ease;
    width: 5vw;
}

  #toc-toggle:hover {
    font-size: 4rem;
  }

.toc-entry:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* PAGE NAVIGATION */
#tab-button-container {
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    height: 6vh;
    width: 100%;
}

.tab-nav {
    background-color: rgb(235, 235, 235);
    border: 1px;
    flex: 1;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
}

.tab-nav:hover {
    cursor: pointer;
    text-decoration: underline;
}


#HHEI-Logo {
    width: 9vw;
    height: 7vh;
    object-fit: cover;
    border-radius: 1%;
    transition: 0.3s ease;
}

#github-link {
    width: auto;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s ease;
}



#HHEI-Logo:hover {
    transform: scale(1.2);
}

#github-link:hover {
    transform: scale(1.5);
}

.hamburger {
  width: min(8vh, 5vw);
  height: min(8vh, 5vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  z-index: 1000;
  margin-left: 1vw;
  margin-right: 1vw;
}

.hamburger span {
  display: block;
  height: 2px;
  width: min(8vh, 5vw);
  margin: 1vh 0 1vh 0;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(3.25vh)
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-3.25vh)
}